@namespace WebFrontend.Components.UI.Button

@* Button component with variant and size support *@
<button
    data-slot="button"
    data-variant="@Variant"
    data-size="@Size"
    class="@GetClass()"
    disabled="@Disabled"
    type="@Type"
    @onclick="OnClick"
    @attributes="AdditionalAttributes">
    @ChildContent
</button>
