@using WebFrontend.Components.UI.Combobox
@using WebFrontend.Components.UI.Label
@namespace WebFrontend.Components.Core.Location

<div class="space-y-1">
    @if (ShowLabel)
    {
        <Label>@LabelText</Label>
    }
    <Combobox
        Value="@EffectiveValue"
        ValueChanged="@OnValueChanged"
        Placeholder="@EffectivePlaceholder"
        Options="@EffectiveOptions"
        Disabled="@EffectiveDisabled"
        OuterClass="@OuterClass"
        Class="@Class" />
</div>
